<div class="container my-5">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1 class="display-4">PRODUCTOS</h1>
        {{#if isAdminOrPremium}}
            <a href="/realtimeproducts" class="btn btn-warning">Administrar Productos</a>
        {{/if}}
        {{#if user}}
            <div>
                <span class="mr-2">Bienvenido, <strong>{{user.fullname}}</strong></span>
                <a href="/session/current" class="btn btn-info">Perfil</a>
                <a class="btn btn-warning mr-2 carrito">Carrito</a>
                <a href="/session/logout" class="btn btn-danger cerrarSesion">Cerrar sesión</a>
            </div>
        {{else}}
            <div>
                <a href="/session/login" class="btn btn-success">Iniciar Sesión</a>
            </div>
        {{/if}}
    </div>

    <div class="row row-cols-1 row-cols-md-3 g-4">
        {{#each prods}}
            <div class="col">
                <div class="card h-100 shadow-sm">
                    <img src="{{this.image}}" class="card-img-top" alt="{{this.title}}">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">{{this.title}}</h5>
                        <p class="card-text">{{this.description}}</p>
                        <p class="card-text"><strong>Precio: </strong>${{this.price}}</p>
                        <button class="btn btn-primary mt-auto botonAgregar" data-id={{this._id}}>Agregar al carrito</button>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
</div>

<script src="/js/products.js"></script>




